@import (less) "~materialize-css/dist/css/materialize.min.css";

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  .black-text;
  align-items: center;
  border-color: currentColor;
  border-style: dashed;
  border-width: 5px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  min-height: 100px;

  &.dragover {
    .brown-text;
  }
}

input[type="file"] {
  display: none;
}

.swal-modal {
  width: 80%; // Make modal bigger to show a log on one line
}

.swal-button {
  .green; // Color for sweetalert buttons
}

.log {
  .grey.lighten-3;

  height: 150px;
  overflow: auto;
}
